.postingText {
  white-space: pre-wrap;
}

.posting {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-flow: row;

  width: 65vw;
  align-self: start;
  padding: 3em;

  a {
    text-align: start;
  }

  label,
  p {
    text-align: start;
    margin: 0;
  }

  label {
    margin-right: 1em;
  }
}

.artifacts {
  display: flex;
  flex-direction: row;
}