.resume {
  aspect-ratio: 8.5 / 11;
  width: 8.5in;
  overflow: hidden;
  display: grid;
  grid-template: "header header" max-content
    "contact projects" min-content
    "skills projects" min-content
    "skills experience" 1fr
    "skills education" min-content / 25% 75%;
  padding: 4em;
  column-gap: .25em;
  row-gap: .5em;
  font-size: 12px;

  h1,
  h2,
  h3 {
    margin: 0;
  }

  h1 {
    background-color: oklch(.75 .05 180);
    padding: .125em;
  }

  h2 {
    background-color: oklch(.85 .05 180);
    padding: .125em;
  }

  h3 {
    text-align: start;
  }
}

.header {
  grid-area: header;
  width: calc(100% - 1em);
}

.experienceSection,
.educationSection,
.projectsSection {
  width: calc(100% - 1em);
}

.experienceSection,
.educationSection,
.projectsSection,
.contactSection,
.skillsSection {
  position: relative;

  p {
    margin: 0;
    text-align: start;
  }

  h2 {
    text-align: start;
  }
}

.experienceSection {
  grid-area: experience;
  display: flex;
  flex-direction: column;
  position: relative;

  ul {
    text-align: start;
    padding: 0;
  }
}

.projectsSection {
  grid-area: projects;
  display: flex;
  flex-direction: column;
}

.educationSection {
  grid-area: education;
  display: flex;
  flex-direction: column;
}

.contactSection {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 10px;
  margin-top: 1em;
  margin-bottom: 1em;

  p {
    word-break: break-word;
    height: 1.25em;
  }

  .gmail {
    vertical-align: top;
  }
}

.skillsSection {
  grid-area: skills;
  place-self: start;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: .5em;

  section {
    height: min-content;
  }

  ul {
    list-style-type: none;
    text-align: start;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    li::after {
      content: ",";
      margin-right: .25em;
    }

    li:last-of-type::after {
      content: "";
    }
  }
}

.full {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.github::before,
.gmail::before,
.phone::before,
.address::before {
  content: "";
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  position: relative;
  margin: -.25em;
  margin-right: .25em;
  background-size: contain;
  background-repeat: no-repeat;
}

.github::before {
  background-image: url("/github-mark.png");
  top: .1em;
}

.gmail::before {
  background-image: url("/gmail.png");
  top: .1em;
}

.phone::before {
  content: "📞";
  margin-right: .25em;
}

.address::before {
  content: "🏠";
  margin-right: .25em;
}

@media (prefers-color-scheme: dark) {
  .github::before {
    background-image: url("/github-mark-white.png");
  }
}