.cover-letter {
  aspect-ratio: 8.5 / 11;
  width: 8.5in;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 4em;
  font-size: 12px;
  color: rgb(33, 53, 71);
}

.header {
  background-color: oklch(.75 .1 160);
  position: relative;
  display: grid;
  grid-template: "name-title contact" max-content / 1fr 1fr;
  overflow: hidden;
  height: min-content;
  margin-bottom: 2em;
}

.body 
{
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.name-title {
  background-color: oklch(.75 .1 160);
  grid-area: name-title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;

  h1 {
    font-size: 3.2em;
  }

  h1, h2 {
    margin: 0;
  }
}

.contact {
  grid-area: contact;
  text-align: right;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin: 0;
  }
}

.company {
  p {
    margin: 0;
  }

  margin-bottom: 2em;
}

.signature {
  p {
    margin: 0;
  }
}