@page "/SourceResumeData"
@inherits FluxorComponent;
@using Blazilla
@using Fluxor.Blazor.Web.Components
@using RGS.Backend.Shared.ViewModels
@using RGS.Frontend.Components
@using System.Runtime.CompilerServices
@using System.Linq.Expressions
@using RGS.Frontend.Store.EditSourceResumeDataFeature

<PageTitle>Manage Source Resume Data</PageTitle>

@if (State.Value?.ResumeData is null)
{
  <p class="m-3">Loading source resume data...</p>
}
else
{
  <div class="m-3 position-relative d-flex flex-column">
    <div class="save-state-indicator">
      <EditSourceResumeDataSaveStateIndicator />
    </div>
    <div class="d-flex flex-column mt-4 gap-4 pe-4">
      <Accordion AlwaysOpen="true">
        @foreach (var sect in Enum.GetValues<Section>())
        {
          @RenderAccordionSection(sect)
        }
      </Accordion>
    </div>
  </div>
}

@code {
  private RenderFragment? RenderSection(Section sect) => sect switch
  {
    Section.Bio => @<BioEditor />,
Section.Contact => @<ContactEditor />,
Section.Skills => @<SkillCategoryList />,
Section.Projects => @<ProjectList />,
Section.Jobs => @<JobList />,
Section.Education => @<EducationList />,
Section.Books => @<BookList />,
_ => null
  };

  private RenderFragment RenderAccordionSection(Section sect) => @<AccordionItem Title="@sect.ToString()">
      <Content>
        @RenderSection(sect);
      </Content>
  </AccordionItem>;
}