@page "/SourceResumeData"
@inherits FluxorComponent;
@using Blazilla
@using Fluxor.Blazor.Web.Components
@using RGS.Backend.Shared.ViewModels
@using RGS.Frontend.Components
@using System.Runtime.CompilerServices
@using System.Linq.Expressions
@using RGS.Frontend.Store.EditResumeDataFeature

<PageTitle>Manage Source Resume Data</PageTitle>

@if (State.Value?.ResumeData is null)
{
  <p class="m-3">Loading source resume data...</p>
}
else
{
  <div class="m-3 position-relative d-flex flex-column">
    <div class="save-state-indicator">
      <SaveStateIndicator />
    </div>
    <div class="d-flex flex-column mt-4 gap-4 pe-4">
      <Accordion AlwaysOpen="true">
        <AccordionItem Title="Bio">
          <Content>
            <div class="d-flex flex-column gap-4">
              <BioEditor Bio="State.Value.ResumeData.Bio" />
            </div>
          </Content>
        </AccordionItem>
        <AccordionItem Title="Skills">
          <Content>
            <div class="d-flex flex-column gap-4 my-3">
              @foreach (var (category, catIndex) in State.Value.ResumeData.Skills.WithIndex())
              {
                <div class="d-flex flex-column border p-3 position-relative">
                  <Badge style="aspect-ratio: 1 / 1; display: flex; place-items: center" IndicatorType="BadgeIndicatorType.RoundedCircle" Color="BadgeColor.Danger" Position="Position.Absolute" Placement="BadgePlacement.TopLeft" @onclick="() => Dispatcher.Dispatch(new RemoveSkillCategoryAction(catIndex))">
                    <Icon Name="IconName.XLg" />
                  </Badge>
                  <SkillList @key="catIndex" Category="category" SkillCategoryIndex="catIndex" />
                </div>
              }
              <div class="d-flex gap-2 place-items-center">
                <input type="text" class="col-3" @bind-value="@NewCategory" @bind-value:event="oninput" />
                <Button Type="ButtonType.Button" Color="ButtonColor.Primary" disabled="@(NewCategory is null or "")" @onclick="@(() => Dispatcher.Dispatch(new AddSkillCategoryAction(@NewCategory!)))">Add Skill Category</Button>
              </div>

            </div>
          </Content>
        </AccordionItem>
        <AccordionItem Title="Projects">
          <Content>
            <div class="d-flex flex-column gap-4">
              <ProjectList Projects="State.Value.ResumeData.Projects" />
            </div>
          </Content>
        </AccordionItem>
        <AccordionItem Title="Jobs">
          <Content>
            <div class="d-flex flex-column gap-4">
              <JobList Jobs="State.Value.ResumeData.Jobs" />
            </div>
          </Content>
        </AccordionItem>
        <AccordionItem Title="Education">
          <Content>
            <div class="d-flex flex-column gap-4">
              <EducationList Educations="State.Value.ResumeData.Education" />
            </div>
          </Content>
        </AccordionItem>
        <AccordionItem Title="Books">
          <Content>
            <div class="d-flex flex-column gap-4">
              <BookList Books="State.Value.ResumeData.Bookshelf" />
            </div>
          </Content>
        </AccordionItem>
      </Accordion>
    </div>
  </div>
}