@page "/"
@using BlazorBootstrap
@using R3
@using RGS.Frontend.Components

<PageTitle>Job Postings</PageTitle>

<h1 class="text-center p-3 bg-primary text-light">Job Postings</h1>
<div class="container mt-4">
  <div class="d-flex align-items-center mb-3 gap-3">
    <StatusSelector @bind-SelectedStatus=@Status @bind-SelectedStatus:after="OnStatusSelected" />
    <div class="btn-group" role="group" aria-label="Actions">
      <button class="btn btn-primary" @onclick="OnAddPostingClicked"><i class="bi bi-plus-lg" /></button>
    </div>
  </div>
  <div class="mb-3">
    <input @key=@Status class="form-control" placeholder="Search postings..." @oninput="(e) => SearchTermSubject.OnNext(e.Value?.ToString() ?? string.Empty)" />
  </div>

  @if (Postings is null)
  {
    <ul class="list-unstyled p-0">
      <li aria-hidden="true" class="card mb-3 placeholder-glow">
        <div class="card-body">
          <div>
            <h1 class="card-title placeholder col-4"></h1>
          </div>
          <div>
            <h2 class="card-subtitle placeholder col-3"></h2>
          </div>
          <div>
            <p class="card-text placeholder col-6"></p>
          </div>
          <div>
            <p class="card-text placeholder col-6"></p>
          </div>
          <div><button disabled class="btn btn-primary placeholder col-1"></button></div>
        </div>
      </li>
    </ul>
  }
  else
  {
    @foreach (var postingDay in Postings.GroupBy(p => p.ImportedAt.Date))
    {
      <h1>@postingDay.Key.ToString("D")</h1>
      <ul class="p-0 list-unstyled postings-list">
        @foreach (var posting in postingDay)
        {
          <li>
            <Posting @key=@posting.id OnApplied="OnPostingApplied" OnArchived="OnPostingArchived" OnResubmit="OnResubmitPosting" OnDeletePosting="OnDeletePosting" PostingSummary=@posting />
          </li>
        }
      </ul>
    }

    <button class="btn btn-secondary mb-3" @onclick="OnShowMoreClicked">Show More</button>
  }
</div>

<Modal @ref="Modal" Title="Add New Posting" IsVerticallyCentered="true">
  <BodyTemplate>
    <NewPosting OnCancel="() => Modal.HideAsync()" OnPostingSubmitted="() => Modal.HideAsync()" />
  </BodyTemplate>
</Modal>