@page "/posting/{PostingId}"
@using BlazorBootstrap
@using RGS.Frontend.Components

<div class="@ContainerClass card m-3 p-3">
  <label>Posting Id: </label>
  <LoadingText TextObject=@posting?.id />
  <div class="d-flex gap-2" role="group" aria-label="Actions">
    <button class="btn btn-primary" @onclick="() => NavigateToResume(PostingId)">View Resume</button>
    <button class="btn btn-primary" @onclick="() => NavigateToCoverLetter(PostingId)">View Cover Letter</button>
    <button class="btn btn-primary" @onclick="OnUpdatePostingAddressClicked"><i class="bi bi-geo-fill" /></button>
    <button class="btn btn-primary" @onclick="OnRegenerateCoverLetterClicked"><i class="bi bi-arrow-clockwise" /></button>
  </div>
  <label>Imported: </label>
  <LoadingText TextObject=@posting?.ImportedAt.ToLocalTime() />
  <label for="link">Link: </label>
  <a id="link" href=@posting?.Link>View</a>
  <label>Company: </label>
  <LoadingText TextObject=@posting?.Company />
  <label>Title: </label>
  <LoadingText TextObject=@posting?.Title />
  <label>Job Posting: </label>
  <pre style="white-space: pre-wrap;">@posting?.PostingText</pre>
</div>

<Modal @ref="updateAddressModal" Title="Update Posting Address" IsVerticallyCentered="true">
  <BodyTemplate>
    <UpdatePostingAddress PostingId=@PostingId OnCancel="() => updateAddressModal.HideAsync()" OnPostingSubmitted="() => updateAddressModal.HideAsync()" />
  </BodyTemplate>
</Modal>

<Modal @ref="resubmitModal" Title="Re-generate Cover Letter" IsVerticallyCentered="true">
  <BodyTemplate>
    <RegenerateCoverLetter PostingId=@PostingId OnCancel="() => resubmitModal.HideAsync()" OnClose="() => resubmitModal.HideAsync()" />
  </BodyTemplate>
</Modal>

@code {
  [Inject] private NavigationManager NavigationManager { get; set; } = null!;
  [Inject] private IPostingsService PostingsService { get; set; } = null!;
  [Parameter] public string PostingId { get; set; } = string.Empty;

  private JobPosting? posting;
  private Modal updateAddressModal = null!;
  private Modal resubmitModal = null!;
  private bool isLoading = true;
  private string ContainerClass => isLoading ? "placeholder-glow" : posting?.Status switch
  {
    PostingStatus.Ready => "border border-warning",
    PostingStatus.Applied => "border border-success",
    PostingStatus.Archived => "border border-secondary",
    _ => string.Empty,
  };

  protected override async Task OnInitializedAsync()
  {
    posting = await PostingsService.GetPostingAsync(PostingId);
    isLoading = false;
  }

  private Task OnUpdatePostingAddressClicked() => updateAddressModal.ShowAsync();
  private Task OnRegenerateCoverLetterClicked() => resubmitModal.ShowAsync();

  private void NavigateToResume(string postingId)
  {
    NavigationManager.NavigateTo($"/resume/{postingId}");
  }

  private void NavigateToCoverLetter(string postingId)
  {
    NavigationManager.NavigateTo($"/cover/{postingId}");
  }
}