@using Fluxor
@using Fluxor.Blazor.Web.Components
@using R3
@using RGS.Backend.Shared.ViewModels
@using RGS.Frontend.Store
@using RGS.Frontend.Store.EditSourceResumeDataFeature
@inherits FluxorComponent

<EditForm EditContext="@EditContext" FormName="EditBook">
  <DataAnnotationsValidator />
  <ValidationSummary />
  <div class="d-flex flex-column gap-4">
    <FormField @bind-Value="@(Model.Title)" class="col-6" />
    <FormField @bind-Value="@(Model.Author)" class="col-6" />
  </div>
</EditForm>

@code {
  private EditContext EditContext { get; set; } = null!;
  [Inject] private IDispatcher Dispatcher { get; set; } = null!;
  [Inject] private IStateSelection<EditSourceResumeDataState, Book?> BookSelector { get; set; } = null!;
  [Parameter] public required int BookIndex { get; set; }
  public BookModel Model { get; set; } = null!;
  private CompositeDisposable _subscription = new();
  private bool _disposedValue;

  protected override void OnInitialized()
  {
    base.OnInitialized();

    BookSelector.Select(state => state.ResumeData?.Bookshelf.ElementAtOrDefault(BookIndex));

    Model = new()
    {
      Id = BookSelector.Value?.id!,
      Author = BookSelector.Value?.Author,
      Title = BookSelector.Value?.Title,
    };

    BookSelector.ValueChanges().Subscribe(book =>
    {
      Model?.Author = book?.Author;
      Model?.Title = book?.Title;
      StateHasChanged();
    }).AddTo(_subscription);

    SubscribeToAction((UpdateResumeDataResultAction action) =>
    {
      if (action.Success)
      {
        EditContext.MarkAsUnmodified();
      }
    });

    EditContext = new EditContext(Model);
    EditContext.Validate();
    Observable.FromEventHandler<FieldChangedEventArgs>(
    a => EditContext.OnFieldChanged += a,
    a => EditContext.OnFieldChanged -= a
    ).Select(args => args.sender as EditContext)
    .WhereNotNull()
    .Where(ec => ec.Validate())
    .Select(ec => (BookModel)ec.Model)
    .Subscribe(model =>
    {
      Dispatcher.Dispatch(new UpdateBookAction(BookIndex, new Book(model.Id, model.Title!, model.Author!)));
    })
    .AddTo(_subscription);
  }

  protected override void OnParametersSet()
  {
    EditContext.Validate();
  }

  protected override async ValueTask DisposeAsyncCore(bool disposing)
  {
    await base.DisposeAsyncCore(disposing);

    if (!_disposedValue)
    {
      _subscription.Dispose();
    }

    _disposedValue = true;
  }
}