@using Fluxor
@using Fluxor.Blazor.Web.Components
@using RGS.Frontend.Store.EditSourceResumeDataFeature

@inherits FluxorComponent

<div class="my-4 d-flex flex-column gap-4">
  @foreach (var (book, index) in (State.Value.ResumeData?.Bookshelf.WithIndex() ?? []))
  {
    <div class="d-flex flex-column border p-3 position-relative">
      <CloseButtonBadge OnClick="() => Dispatcher.Dispatch(new RemoveBookAction(index))" />
      <BookEditor @key="book.id" BookIndex="index" />
    </div>
  }
  <div class="d-flex gap-2 place-items-center">
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="@(() => Dispatcher.Dispatch(new AddBookAction()))">Add Book</Button>
  </div>
</div>

@code {
  [Inject] private IState<EditSourceResumeDataState> State { get; set; } = null!;
  [Inject] private IDispatcher Dispatcher { get; set; } = null!;
}