@* @using System.Reflection.Emit
@using System.ComponentModel.DataAnnotations
@using RGS.Backend.Shared.ViewModels

@typeparam TItem;

<div class="m-3">
  @foreach (var (item, index) in List.WithIndex())
  {
    if (@ItemTemplate is not null)
    {
      <div @key="@index">
        @ItemTemplate(item)
      </div>
    }
  }
  <button onclick="@(() => ItemsChanged.InvokeAsync([.. Items, ))">+</button>
</div>

@code {
  [Parameter] public required TItem[] Items { get; set; }
  [Parameter] public required EventCallback<TItem[]> ItemsChanged { get; set; }
  [Parameter] public required RenderFragment<TItem>? ItemTemplate { get; set; }
} *@