@using Fluxor
@using RGS.Frontend.Store.EditSourceResumeDataFeature

<div class="my-4 d-flex flex-column gap-4">
  @foreach (var (education, index) in (State.Value.ResumeData?.Education.WithIndex() ?? []))
  {
    <div class="d-flex flex-column border p-3 position-relative">
      <CloseButtonBadge OnClick="() => Dispatcher.Dispatch(new RemoveEducationAction(index))" />
      <EducationEditor @key="education.id" EducationIndex="index" />
    </div>
  }
  <div class="d-flex gap-2 place-items-center">
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="@(() => Dispatcher.Dispatch(new AddEducationAction()))">Add Education</Button>
  </div>
</div>

@code {
  [Inject] private IState<EditSourceResumeDataState> State { get; set; } = null!;
  [Inject] private IDispatcher Dispatcher { get; set; } = null!;
}