@using Fluxor
@using Fluxor.Blazor.Web.Components
@using Microsoft.Azure.Cosmos.Linq
@using R3
@using RGS.Backend.Shared.ViewModels
@using RGS.Frontend.Store.ViewPostingFeature
@inherits FluxorComponent;

<EditForm EditContext="@EditContext" FormName="EditNotes">
  <DataAnnotationsValidator />
  <ValidationSummary />
  <div class="mb-3">
    <label for="notes" class="form-label">Notes</label>
    <OnInputInputTextArea id="notes" class="form-control" rows="5" @bind-Value="Model.Text" />
  </div>
</EditForm>


@code {
  [Inject] private IDispatcher Dispatcher { get; set; } = null!;
  [Inject] private IState<ViewPostingState> ViewPostingState { get; set; } = null!;

  private EditContext EditContext { get; set; } = null!;
  private NotesModel Model { get; set; } = null!;
  private CompositeDisposable? _subscription = null!;
  private bool _disposedValue;

  protected override void OnInitialized()
  {
    base.OnInitialized();

    Model = new()
    {
      Text = ViewPostingState.Value.Posting?.Notes?.Text ?? "",
    };
    _subscription = new CompositeDisposable();
    EditContext = new EditContext(Model);
    Observable.FromEventHandler<FieldChangedEventArgs>(
    a => EditContext.OnFieldChanged += a,
    a => EditContext.OnFieldChanged -= a
    ).Select(args => args.sender as EditContext)
    .WhereNotNull()
    .Where(ec => ec.Validate())
    .Select(ec => (NotesModel)ec.Model)
    .Debounce(TimeSpan.FromMilliseconds(500))
    .Subscribe(model =>
    {
      EditContext.MarkAsUnmodified();
      Dispatcher.Dispatch(new EditNotesAction(ViewPostingState.Value.Posting!.Notes is null
  ? new Notes(ViewPostingState.Value.Posting!.id, ViewPostingState.Value.Posting.UserId, model.Text ?? "")
  : ViewPostingState.Value.Posting.Notes with { Text = model.Text ?? "" }));
    })
    .AddTo(_subscription); ;
  }

  protected override async ValueTask DisposeAsyncCore(bool disposing)
  {
    await base.DisposeAsyncCore(disposing);

    if (!_disposedValue)
    {
      _subscription?.Dispose();
    }

    _disposedValue = true;
  }
}