@using Fluxor
@using Fluxor.Blazor.Web.Components
@using Microsoft.Azure.Cosmos.Linq
@using R3
@using RGS.Backend.Shared.ViewModels
@using RGS.Frontend.Store
@using RGS.Frontend.Store.ViewPostingFeature
@inherits FluxorComponent

<EditForm EditContext="@EditContext" FormName="EditNotes">
  <DataAnnotationsValidator />
  <ValidationSummary />
  <div class="mb-3">
    <label for="notes" class="form-label">Notes</label>
    <OnInputInputTextArea id="notes" class="form-control" rows="5" @bind-Value="Model.Text" />
  </div>
</EditForm>

@code {
  [Inject] private IDispatcher Dispatcher { get; set; } = null!;
  [Inject] private IState<ViewPostingState> State { get; set; } = null!;

  private EditContext EditContext { get; set; } = null!;
  private NotesModel Model { get; set; } = null!;
  private CompositeDisposable _subscription = new();
  private bool _disposedValue;

  protected override void OnInitialized()
  {
    base.OnInitialized();

    Model = new()
    {
      Text = State.Value.Posting?.Notes?.Text ?? "",
    };

    SubscribeToAction((SaveNotesResultAction action) =>
    {
      if (action.Success)
      {
        EditContext.MarkAsUnmodified();
      }
    });

    EditContext = new EditContext(Model);
    Observable.FromEventHandler<FieldChangedEventArgs>(
    a => EditContext.OnFieldChanged += a,
    a => EditContext.OnFieldChanged -= a
    ).Select(args => args.sender as EditContext)
    .WhereNotNull()
    .Where(ec => ec.Validate())
    .Select(ec => (NotesModel)ec.Model)
    .Subscribe(model =>
    {
      Dispatcher.Dispatch(new EditNotesAction(State.Value.Posting!.Notes is null
  ? new Notes(State.Value.Posting!.id, State.Value.Posting.UserId, model.Text ?? "")
  : State.Value.Posting.Notes with { Text = model.Text ?? "" }));
    })
    .AddTo(_subscription);

    var edits = Observable.FromEventHandler(
    a => State.StateChanged += a,
    a => State.StateChanged -= a)
    .Select(e => e.sender as IState<ViewPostingState>);

    var retries = Observable.Interval(TimeSpan.FromMilliseconds(5000))
    .Select<R3.Unit, IState<ViewPostingState>?>(_ => State);

    // Submit edits and retries as necessary.
    // TODO: Give up on retries eventually?
    Observable.Merge(edits, retries)
    .WhereNotNull()
    .Where(state => state.Value is not null && state.Value.SaveState.SaveStatus is SaveStatus.Dirty or SaveStatus.Faulted)
    .Debounce(TimeSpan.FromMilliseconds(500))
    .Subscribe(state => Dispatcher.Dispatch(new SaveNotesAction(State.Value.Posting!.Notes!)))
    .AddTo(_subscription);
  }

  protected override async ValueTask DisposeAsyncCore(bool disposing)
  {
    await base.DisposeAsyncCore(disposing);

    if (!_disposedValue)
    {
      _subscription?.Dispose();
    }

    _disposedValue = true;
  }
}