<div class="btn-group" role="group" aria-label="Status Selector">
  @foreach (var status in (string[])["All", .. PostingStatus.ValidStatuses])
  {
    <button type="button" class="@(SelectedStatus == status ? "active" : "") btn btn-primary" @onclick="async () => await SelectStatus(status)">
      @status
    </button>
  }
</div>

@code {
  [Parameter] public EventCallback<string> OnStatusSelected { get; set; }
  [Parameter] public string SelectedStatus { get; set; } = "All";

  private async Task SelectStatus(string status)
  {
    if (SelectedStatus == status)
    {
      return;
    }

    await OnStatusSelected.InvokeAsync(status);
  }
}