<div class="btn-group" role="group" aria-label="Status Selector">
  @foreach (var status in (string[])["All", .. PostingStatus.ValidStatuses])
  {
    <button type="button" class="@(Status == status ? "active" : "") btn btn-primary" @onclick="async () => await SelectStatus(status?.ToString())">
      @status
    </button>
  }
</div>

@code {
  [Parameter] public EventCallback<string?> OnStatusSelected { get; set; }
  private string? Status { get; set; } = null;

  private async Task SelectStatus(string? status)
  {
    if (Status == status)
    {
      return;
    }

    Status = status;
    await OnStatusSelected.InvokeAsync(status);
  }
}